footer {
    background-color: white;
    height: 60px;
    width: 100%;
    border-bottom: 1px #CCCCCC;
    bottom: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}